.add_utente{
  display: inline-block;
  border-right:2px solid #007dc3;
  border-bottom:2px solid #007dc3;
  color: #FFFFFF;
  font-family: Verdana;
  font-size: 13px;
  padding: 5px 4px;
  background-color: #007dc3;

}

.btn-primary{
    background-color: #9DBF55 !important;
    border: 0px !important;
}

.btn-primary:hover{
    background-color: #7CA12C !important;
}

#div_form_utenti{
  width: 96.6%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 0px 10px 10px 0px;
  border-top:2px solid #007dc3;
  border-right:2px solid #007dc3;
  border-bottom:2px solid #007dc3;
}

.form_utenti{
  padding: 20px 0px 30px 30px;
}

.campi_form_utenti{
  padding-right: 20px;
}
